<div>
  <nav>
    <a href="#!/dashboard">Dashboard</a>
    <a href="#!/logout">Logout</a>
  </nav>
  <h2><a href="#!/user/{{TC.currentTopic._user._id}}">{{TC.currentTopic._user.name | titleCase}}</a> posted a topic:</h2>

  <h3><i><b>{{TC.currentTopic.topic | titleCase}}</b></i></h3>
  <h4><u>Description:</u> {{TC.currentTopic.description}}</h4>
  <hr>
  <h3>Post you answer here...</h3>
  <form ng-submit="TC.createPost()">
    <input type="text" ng-model="TC.newPost.post" placeholder="Post Here!" required>
    <input type="submit" value="Post">
  </form>
  <div ng-repeat="post in TC.currentTopic.posts track by $index">
    <p><a href="#!/user/{{post._user._id}}">{{post._user.name | titleCase}}</a>: {{post.post}}</p>
    <form ng-submit="TC.createComment()">
      <input type="text" id="comment{{post._id}}" ng-model="TC.newComment.comment[post._id]" placeholder="Comment Here!" required>
      <input type="submit" value="Comment">
    </form>
  </div>
</div>
